@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: global look */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #020617; /* slate-950 */
  background-color: #f8fafc; /* slate-50 */
}
